.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}
#lista {
    color: aliceblue !important;
}

li h2{
    width: 750px;
}

.dropdown{
    position: relative;
    left: 750px;
}

.dropdown > a{
    color: black;   
    text-decoration: none;
    background-color: gray;
    padding: 4px;
    border-radius: 3px;
    margin: 4px;
}

.dropdown .menu{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px;
    position: absolute;
    min-width: 100px;
}

.dropdown:hover .menu{
    display: block;
}

.dropdown .menu ul{
    padding: 0%;
    margin: 0;
    list-style: none;
    text-align: left;
}

.dropdown .menu li a{
    color: black;
    display: block; 
    padding: 5px;
    text-decoration: none;
    font-size: small;
}

.dropdown .menu li a:hover{
    color: orangered;
}